* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

.sidebar svg {
  width: 23px;
  height: 23px;
  fill: white;
}

.header svg,
.icon-box svg{
  width: 23px;
  height: 23px;
}

ul {
  list-style-type: none;
}

.sidebar div[class*="-text"] {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 160px 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content";
}

/* SIDEBAR */

.sidebar {
  grid-area: sidebar;
  background-color: #1992D4;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 100px repeat(10, 50px) 1fr;
  grid-template-areas: 
  "dashboard-icon dashboard-text"
  "home-icon home-text"
  "profile-icon profile-text"
  "message-icon message-text"
  "history-icon history-text"
  "task-icon task-text"
  "community-icon community-text"
  ". ."
  "settings-icon settings-text"
  "support-icon support-text"
  "privacy-icon privacy-text";
  align-items: center;
  box-shadow: 4px 5px 8px 1px rgba(0,0,0,0.1);
  position: relative;
}

/* DASHBOARD */

.dashboard-icon {
  grid-area: dashboard-icon;
  width: 45px;
  height: 45px;
  justify-self: center;
}

#dashboard-text {
  grid-area: dashboard-text;
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

/* HOME */

.home-icon {
  grid-area: home-icon;
  justify-self: center;
}

.home-text {
  grid-area: home-text;
}

/* PROFILE */

.profile-icon {
  grid-area: profile-icon;
  justify-self: center;
}

.profile-text {
  grid-area: profile-text;
}

/* MESSAGES */

.message-icon {
  grid-area: message-icon;
  justify-self: center;
  
}

.message-text {
  grid-area: message-text;
}

/* HISTORY */

.history-icon {
  grid-area: history-icon;
  justify-self: center;
}

.history-text {
  grid-area: history-text;
}

/* TASKS */

.task-icon {
  grid-area: task-icon;
  justify-self: center;
}

.task-text {
  grid-area: task-text;
}

/* COMMUNITIES */ 

.community-icon {
  grid-area: community-icon;
  justify-self: center;
}

.community-text {
  grid-area: community-text;
}

/* SETTINGS */

.settings-icon {
  grid-area: settings-icon;
  justify-self: center;
}

.settings-text {
  grid-area: settings-text;
}

/* SUPPORT */

.support-icon {
  grid-area: support-icon;
  justify-self: center;
}

.support-text {
  grid-area: support-text;
}

/* PRIVACY */

.privacy-icon {
  grid-area: privacy-icon;
  justify-self: center;
}

.privacy-text {
  grid-area: privacy-text;
}

/* HEADER */

.header {
  grid-area: header;
  position: relative; 
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "header-top"
  "header-bottom";
}

img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.header-top {
  grid-area: header-top;
  display: grid;
  grid-template-columns: 50px 700px 1fr 50px 50px 200px;
  align-items: center;
  gap: 20px;
  grid-template-areas: 
  "search-icon search-bar . notif-icon top-pic top-name";
}

.search-bar {
  grid-area: search-bar;
  background-color: #e2e8f0;
  height: 28px;
  width: 600px;
  border: none;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

input[class="search-bar"]:focus {
  outline: none;
  border: 2px solid #f0b429;
}

.search-icon {
  justify-self: end;
  grid-area: search-icon;
}

.notif-icon {
  justify-self: center;
  grid-area: notif-icon;
}

.top-pic {
  grid-area: top-pic;
}

.top-name {
  grid-area: top-name;
  font-weight: bold;
  font-size: 18px;
}

.header-bottom {
  grid-area: header-bottom;
  display: grid;
  grid-template-columns: 120px 300px 1fr repeat(3, 150px) 40px;
  grid-template-rows: 30px 1fr;
  align-items: center;
  grid-template-areas: 
  "bottom-pic intro-text . new-button upload-button share-button ."
  "bottom-pic bottom-name . new-button upload-button share-button .";
}

.bottom-pic {
  grid-area: bottom-pic;
  width: 65px;
  height: 65px;
  justify-self: center;
  margin-bottom: 10px;
}

.intro-text {
  grid-area: intro-text;
  font-weight: bold;
  font-size: 14px;
  align-self: flex-end;
}

.bottom-name {
  grid-area: bottom-name;
  font-weight: bold;
  font-size: 22px;
  align-self: flex-start;
  margin-top: 5px;
}

.new-button {
  grid-area: new-button;
}

.upload-button {
  grid-area: upload-button;
}

.share-button {
  grid-area: share-button;
}

.header-bottom button {
  width: 110px;
  height: 45px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #1992D4;
  font-weight: bold;
  font-size: 16px;
  justify-self: center;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

/* MAIN CONTENT */

.main-content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 35px 1fr 35px 1fr;
  grid-template-areas: 
  "your-projects-title announcements-title"
  "your-projects-container announcements-container"
  "your-projects-container trending-title"
  "your-projects-container trending-container";
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-top: 15px;
  column-gap: 25px;
  row-gap: 20px;
}

.announcements-title {
  grid-area: announcements-title;
  font-weight: bold;
  font-size: 20px;
  align-self: flex-end;
}

.trending-title{
  grid-area: trending-title;
  font-weight: bold;
  font-size: 20px;
  align-self: flex-end;
}

/* YOUR PROJECTS */

.your-projects-container {
  grid-area: your-projects-container;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "card-box1 card-box2"
  "card-box3 card-box4"
  "card-box5 card-box6";
  column-gap: 25px;
  row-gap: 30px;
}

.your-projects-title {
  grid-area: your-projects-title;
  font-weight: bold;
  font-size: 20px;
  align-self: flex-end;
}

.card-box1,
.card-box2,
.card-box3,
.card-box4,
.card-box5,
.card-box6 {
  background-color: white;
  box-shadow: 4px 5px 8px 1px rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-left: 10px solid #f0b429;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: 
  "card-title card-title"
  "card-desc card-desc"
  ". icon-box";
  box-sizing: border-box;
}

.card-box1 {
  grid-area: card-box1;
}

.card-box2 {
  grid-area: card-box2;
}

.card-box3 {
  grid-area: card-box3;
}
.card-box4{
  grid-area: card-box4;
}
.card-box5 {
  grid-area: card-box5;
}
.card-box6 {
  grid-area: card-box6;
}

.card-title {
  grid-area: card-title;
  font-weight: bold;
  font-size: 1.1rem;
}

.card-desc {
  grid-area: card-desc;
  font-size: 1rem;
  color: #636363;
  
}

.icon-box {
  grid-area: icon-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-self: center;
}

/* ANNOUNCEMENT */

.announcements-container {
  grid-area: announcements-container;
  background-color: white;
  box-shadow: 4px 5px 8px 1px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  box-sizing: border-box;
  padding: 20px;
  gap: 15px;
}

.ann-title {
  font-weight: bold;
  font-size: 1rem;
}

.ann-desc {
  color: #636363;
  font-size: 0.9rem;
}

.ann-box1,
.ann-box2 {
  border-bottom: 2px solid #d2d2d2;
}

.ann-box1,
.ann-box2,
.ann-box3 {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

/* TRENDING */

.trending-container {
  grid-area: trending-container;
  background-color: white;
  box-shadow: 4px 5px 8px 1px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  box-sizing: border-box;
  padding: 25px;
  row-gap: 25px;
}

.trend-box1,
.trend-box2,
.trend-box3,
.trend-box4 {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 20px 1fr;
  grid-template-areas: 
  "trend-pic trend-name"
  "trend-pic trend-desc";
  column-gap: 15px;
  align-items: center;
}

.trend-pic {
  grid-area: trend-pic;
}

.trend-name {
  grid-area: trend-name;
  font-size: 1rem;
}

.trend-desc {
  grid-area: trend-desc;
  color: #636363;
  font-size: 1rem;
}




